
  .container {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    
  }



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: url('/img/header-background-avatar.png');
 background-image: url('/img/background-header.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
    border-bottom: 3px solid white;
}



.navigation-container {
  display: flex;
  align-items: center;
}

.navigaion-img {
  width: 120px; 
  height: auto; 

}


.navigation-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation-item {
  display: inline-block;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.navigation-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}


.navigation-link:hover {
  color: #1db4e0;
}

.a-nav-login {
  padding: 8px 15px;
  background-color: #1db4e0;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;

}

.a-nav-login:hover {
  background-color: darkblue;
}

.header-list-lang {
  display: flex;
  gap: 10px;
  list-style: none;
}


.header-item-lang {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.header-item-lang:hover {
  text-decoration: underline;
}

.hero {
  background-image: url('/img/background-avatar.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 80px 20px;
  text-align: center;
  position: relative;
  height: 100vh;
}



.paragraph-hero {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.link-item {
  display: inline-block;
  padding: 12px 25px;
  background-color: #0082c8; 
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.link-item:hover {
  background-color: darkblue; 
}
.icon {
  position: absolute;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



